<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проверка пароля в фотографии</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Загрузите изображение для проверки пароля</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required><br><br>
        <button type="submit">Проверить</button>
    </form>

    <br><a href="{{ url_for('dashboard') }}">Назад в личный кабинет</a>
</body>
</html>
